@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700);

body
{
	font-family: 'Ruda', serif;
}

.bodyDiv {
 /* padding: 0px 10px;*/
  margin:0 auto;
  background:#fff;
  padding-top: 70px;
  
  width:100%;
  position:absolute;

}

.navbar
{
	font-font:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-inner
{
	box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div#nav
{
	background-color:#FFF;
	text-align:center;
	height:32px;
	font-size:11px;
	font-weight:700;
	margin:0;
	padding:0;
}

div#nav a
{
	font-size:11px;
	font-weight:700;
	display:block;
	width:100%;
	color:#FFF;
	height:100%;
	text-decoration:none;
	margin:0;
	padding:0;
}

div#nav a:visited
{
	color:#FFF;
	text-decoration:none;
}

div#nav a:hover
{
	color:#f9f9f9;
}

div#nav td
{
	line-height:32px;
	text-align:center;
}

td#sidepanel
{
	background:#202020;
}

.contentbg
{
	background:url(../images/admin/content_bg.jpg) repeat-x;
	border:solid 1px #9b0101; border-top:none; padding-left:10px;
}

th
{
	text-align:left;
	color:#333;
}

.td-listing
{
	vertical-align:middle;
	font-weight:700;
	color:#C00;
	font-size:13px;
}

.indexdetails
{
	font-family:'Nixie One', cursive;
	font-weight:700;
	background-color:#E8E8E8;
	font-size:11px;
}

.indexname
{
	background-color:#E8E8E8;
	color:#781309;
	font-size:11px;
	font-weight:700;
}

.indexheading
{
	font-weight:700;
	color:#FFF;
	font-size:12px;
	background-color:red;
}

.loginmsg
{
	background:#fff;
	color:#9E9E9E;
	font-weight:700;
	height:27px;
	padding-top:5px;
	width:960px;
	margin:0 auto;
}

.loginmsg span.success
{
	background:url(../images/admin/login_scc.png) no-repeat;
	height:23px;
	color:#093;
	float:left;
	margin:0 0 0 20px;
	padding:0 32px;
}

.loginmsg span.unsuccess
{
	background:url(../images/admin/close_red.png) no-repeat;
	height:23px;
	color:#093;
	float:left;
	margin:0 0 0 20px;
	padding:5px 32px 4px;
}

.loginmsg span.login_close
{
	background:url(../images/admin/login_close.png) no-repeat;
	height:21px;
	width:22px;
	float:right;
	margin-right:10px;
	cursor:pointer;
}

table.errortable
{
	border:1px solid #9b0101;
	margin:5px;
}

table.errortable td
{
	padding-left:10px;
	color:#9b0101;
	font-weight:700;
	text-align:left;
}

#header
{
	background:#9b0101 url(../images/admin/topbg.jpg) top left no-repeat;
	height:72px;
	width:960px;
	margin:0 auto;
}

#header h1
{
	margin-top:0;
	font-size:34px;
	color:#fff;
	padding:16px 0 0 25px;
}

.footertext
{
	text-align:center;
	color:#000;
	width:960px;
	font-size:12px;
	border-top:1px solid silver;
	margin:2px auto 0;
	padding:1px 0 30px;
}

.errormsg
{
	font-weight:400;
	color:red;
	font-size:11px;
}

.errormsg_image
{
	background:url(../images/admin/ui-icons_9d0808_256x240.png) -131px -213px no-repeat;
	width:20px;
	display:block;
	height:20px;
}

.font_white
{
	color:#FFF;
	font-size:11px;
	text-decoration:none;
}

.font_white a
{
	text-decoration:none;
	color:#FFF;
}

.font_white a:hover
{
	text-decoration:underline;
	color:#dd0f02;
}

.add_title
{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	color:#9b0101;
}

.add_title2
{
	border:none;
	height:25px;
	padding:0 0 0 16px;
}

.clear{clear:both;}

.height {height:10px;}

.display_none {display:none;}

.ds_style_name {cursor:pointer;color:#FF0000;}

/* dashboard CSS */
.label_dash
{
cursor:pointer;
}

#post_doc {
	padding:10px;
}
#post_doc li {
	color:#C00;
}

#post_doc .optional {
	color:#000;
}

#accordian-data .group{
border:1px solid black;
-moz-border-radius: 5px;
border-radius: 5px;
background-color:#0B2B37;
padding:auto;


}

#accordian-data .selected {
border:1px solid white;
-moz-border-radius: 5px;
border-radius: 5px;
background-color:white

;

}

#accordian-data .accordian-body {
	padding-left:50px;
	
}

#accordian-data .heading a {
	color:#A0C5D1;
	text-decoration:underline;
	font-size:20px;
}

	
#accordian-data h5 {
	text-decoration:underline;
	

}


/* flexi grid changes */



.flexigrid div.pDiv {
	position:fixed !important;
	bottom:0;
	width:100%;
}

.flexigrid div.sDiv {
	display:block !important;
	position:fixed !important;
	bottom:31px;

}

.flexigrid .bDiv{
	height:100% !important;
}

/*.flexigrid div.bDiv table{
	height:100%;
}*/


.flexigrid .pSearch{
	display:none;
}


.flexigrid div.sDiv {
	position:fixed;
	bottom:31px;
	width:100%;
}

.flexigrid div.vGrip {
	display:none;
}
.flexigrid tr.trSelected td.sorted a, 
.flexigrid tr.trSelected td a    {
	color: #5988BD !important;
}			

#pull_data .pull {
	float:left;
	width:25%;
	margin-left:25px;
}

.row_padding{
	padding-left:20px;
	width:95%;
	padding-bottom:5px;
}

.check_margin{
	margin:17px 20px 18px;
}
.fit{
	width:160px;

}

/*  DASHBOARD  */
.dashboard {
	padding-left: 20px;
	padding-right: 20px;
}

.dashboard .select_dates {
	float: left;
	width: 40%;
}

.dashboard .report {
	float: left;
	width: 40%;
	padding-left: 10px;
}
